.main-container {
    background-color: rgb(216, 216, 216);
    padding-left: 10%;
    padding-right: 10%;
    height: 80vh;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1800px;
}


.top-left {

}

.top-right {
    margin-left: 50px;

}

.bottom-left {

}

.bottom-right {
    margin-left: 60px;
}