.profile-container {
    background-color: rgb(224, 174, 174);
    height: 160px;
    width: 500px;
    display: flex;
}

.profile-pic {
    height:100%;
    background-color: black;
    width: 160px;
}

.info {
    width: 340px;
    margin-left: 15px;
}

.profile-name {
    padding-bottom: 5px;
}

.stat {
    display:flex;
    height:25px;
    align-items: center;
}
#value {
    color:blue;
    font-size: 14pt;
    text-align: right;
    flex:1;
    margin-right:60px;

}
