.facts-container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    width:650px;
}

.fact-box {
    background-color: gray;
    height: 100%;
    width:20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fact-box p{
    color:rgb(228, 228, 228);
    font-size: 9pt;
}
